.layout {
  min-height: 100vh;
  background: #F5F5F5;
}

.main {
  min-height: 100vh;
  padding: 32px 40px;
  max-width: 1600px;
}

@media (max-width: 768px) {
  .main {
    padding: 16px;
    margin-left: 0 !important;
  }
}
